# generated dirs from the compiler
build/*
output/*
failed/*
.texlivedocker-live/

# keep any of the empty dirs in the repo
!build/.gitkeep
!output/.gitkeep
!failed/.gitkeep

# use input
input/*
!input/.gitkeep

# LaTeX junk that you probably dont need
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.lof
*.lot

# gnu plot files
*.gnuplot
*.table

# smh mac
.DS_Store
Thumbs.db